apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: shared-image
          emptyDir: {}
      containers:
        - name: todo-app
          image: engjuanser/todo-app:2.6
          envFrom:
            - configMapRef:
                name: todo-project-config
          volumeMounts:
            - name: shared-image
              mountPath: /usr/src/app/files
        - name: image-fetcher
          image: engjuanser/image-fetcher:2.6
          envFrom:
            - configMapRef:
                name: todo-project-config
          volumeMounts:
            - name: shared-image
              mountPath: /usr/src/app/files
