apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: engjuanser/ping-pong:2.7
          env:
            - name: PORT
              value: "3000"
            - name: POSTGRES_HOST
              value: "postgres-svc.exercises"
            - name: POSTGRES_DB
              value: "pingpongdb"
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "postgres"
